/* CSS Reset */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul li {
    list-style: none;
}


/*  My CSS */

body {
    font-family: 'Fredoka', sans-serif;
}

.container {

    display: flex;
    flex-direction: column;
    outline: 1px solid red;
}

.section1 {
    background-color: #1F2937;

}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    margin: 0 auto;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.nav {
    display: flex;
    gap: 60px;
    font-size: 18px;
    color: #E5E7EB;

}

.hero {
    padding: 50px 10px;
    display: flex;
    align-items: center;
    width: 1000px;
    margin: 0 auto;
    gap: 20px;
    flex: 1 1 200px;
}


.hero-text h1 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;

}

.hero-text p {
    padding: 15px 0;
    font-size: 18px;
    color: #E5E7EB;

}

.hero button {
    padding: 6px;
    background-color: #3882F6;
    color: #fff;
    border: none;
    border-radius: 6px;
}

.info {
    margin: 0 auto;
    margin-bottom: 25px;
    width: 800px;
    display: flex;
    flex-direction: column;
}

.info-title {
    text-align: center;
    margin: 40px 0;
}

.info-images {
    display: flex;
    gap: 67px;

}

figure {
    display: flex;
    flex-direction: column;
}

figcaption {
    padding-top: 10px;
    text-align: center;
}

.quote {
    background-color: #E5E7EB;
    margin: 10px auto;
    font-size: 36px;
    font-weight: lighter;
    color: #1F2937;
    justify-content: center;
    text-align: center;
    padding: 50px;
    display: flex;
    flex-direction: column;
}

.quote-text {
    width: 60%;
    margin: 0 auto;
    text-align: center;
    padding: 10px 0;
}

.quote-author {
    font-size: 0.8em;
}

.cta-wrapper {
    background-color: #3882F6;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 60px;
    margin: 50px auto;
    padding: 50px;
    border-radius: 5px;
}

.cta-wrapper button {
    background-color: #3882F6;
    color: #fff;
    border: 1px solid #fff;
    padding: 6px;
    border-radius: 6px;
    font-weight: bold;
}